<title> Shorty </title>
<meta name="title" content="Shorty~" />
<meta name="description" content="Your custom url shortener!" />

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Shorty~">
<meta itemprop="description" content="Your custom url shortener!">
<meta itemprop="image" content="<%= image_path("/backgrounds/default-white.png") %>">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="#" />
<meta property="og:title" content="Shorty~" />
<meta property="og:description" content="Your custom url shortener!" />
<meta property="og:image" content="<%= image_path("/backgrounds/default-white.png") %>" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="#" />
<meta property="twitter:title" content="Shorty~" />
<meta property="twitter:description" content="Your custom url shortener!" />
<meta property="twitter:image" content="<%= image_path("/backgrounds/default-white.png") %>" />
